!!!
%html
  %head{:lang => "en"}
    %meta{:charset => "UTF-8"}/
    %title Домашнее задание 12
    %link{:href => "styles/normalize.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "styles/hw12.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400", :rel => "stylesheet", :type => "text/css"}/
%body
  %header.header
    .content-center
      .logo
        %h1 alfatrevel
        %a{:href => "#"}
          %img{:src => "img/logo.gif", :height => "37", :width => "267", :alt => "Alfatrevel"}/
      %ul.header-nav
        %li
          %a{:href => "#"} Туры в Израиль
        %li
          %a{:href => "#"} Билеты
        %li
          %a{:href => "#"} Гостиницы
      %aside
        %span.phone-number
          %span.phone-number1 +7 (495)
          %span.phone-number2 374-79-54
        .header-button
          %a{:href => "#"} Заказать звонок!
        %span.but - или -
        %span.phone-slogan Мы ждем Ваши звонки!
  %section.israel
    .content-center
      .israel-content
        %p.p1
          СОБИРАЕТЕСЬ
          %span.span1 В ИЗРАИЛЬ?
        %p.p2
          ALFATREVEL
          %span.span2 ПОМОЖЕТ!
        %ul
          %li Организованные туры
          %li Билеты и гостиницы
          %li Экскурсии
          %li Медицинский туризм
        .popular-tour
          %a{:href => "#"} Популярные туры
      .israel-form-wrapper
        %form.israel-form{:action => "#", :method => "post"}
          %p БЕСПЛАТНАЯ
          %p КОНСУЛЬТАЦИЯ
          %fieldset
            %input{:type =>"text", :placeholder => "Имя"}
            %input{:type =>"email", :placeholder => "E-mail"}
            %input{:type =>"tel", :placeholder => "Телефон"}
            %button{:type =>"submit"}Перезвоните мне!
  %section.hot-proposition
    .content-center
      %p.hot-proposition-p1 САМЫЕ ГОРЯЧИЕ ПРЕДЛОЕНИЯ
      %p.hot-proposition-p2 ЭТОГО СЕЗОНА!
  %section.questions-answers
    .content-center
      %p
        %span.questions У ВАС ЕСТЬ ВОПРОСЫ?
        %span.answers У НАС ЕСТЬ ОТВЕТЫ!
      %img.image-questions{:src => "img/questions.png", :height => "328", :width => "563", :alt => "qeustions"}/
      %img.image-answers{:src => "img/answers.png", :height => "328", :width => "563", :alt => "answers"}/
      .tell-me
        %p
          Получите
          %span подробную консультацию
          по любому вопросу
        %a{:href => "#"} Расскажите мне!
  %section.advantages
    .content-center
      .advantages-slogan
        %p ПОЧЕМУ ИМЕННО МЫ?
        %span Преимущества
      %ul.advantages-list
        %li
          %h3 Отсутствие посредников
          %p Как следствие – удешевление как полного туристического пакета, так и каждой составляющей.
        %li
          %h3 Исчерпывающая и всегда оперативная информация
          %p Мы заботимся о том, чтобы сформировать у наших клиентов полное представление об услгуге, которой они пользуются.
        %li
          %h3 Полная прозрачность договорных отношений
          %p Вы всегда знаете и понимаете, за что и сколько Вы платите. Мы - за честное сотрудничество!
        %li
          %h3 Личное сопровождение клиента
          %p Наши сотрудники встречают и провожают Вас по прибытию в Израиль, чтобы сделать Вашу поездку особенной!
  %section.israel-info
    %p
      Израиль глазами наших клиентов
      %br
      %span незабываемый отдых!
    %ul.img-links
      %li
        %a{:href => "#"}
          %img{:src => "img/im1.png", :width => "331", :height => "243", :alt => "im"}/
      %li
        %a{:href => "#"}
          %img{:src => "img/im2.png", :width => "332", :height => "233", :alt => "im"}/
      %li
        %a{:href => "#"}
          %img{:src => "img/im3.png", :width => "329", :height => "238", :alt => "im"}/
      %li
        %a{:href => "#"}
          %img{:src => "img/im4.png", :width => "334", :height => "245", :alt => "im"}/
      %li
        %a{:href => "#"}
          %img{:src => "img/im5.png", :width => "336", :height => "249", :alt => "im"}/
      %li
        %a{:href => "#"}
          %img{:src => "img/im6.png", :width => "336", :height => "248", :alt => "im"}/
    .content-center
      %ul.israel-info-list
        %li
          %p
            %span Израиль
            – страна туристическая, привлекающая многочисленных путешественников из-за рубежа.  Несмотря на то, что площадь Израиля составляет чуть
            %span более 22 тыс. кв.км
            , на узкой полоске земли вдоль Средиземного моря успешно развиваются
            %span различные виды туризма
            , как общего, так и специфического – религиозного, медицинского, сельскохозяйственного и прочих.
        %li
          %p
            Мы предлагаем
            %span туры в Израиль
            , предоставляя своим клиентам услуги
            %span высокого качества
            , в полном соответствии с любыми особыми требованиями. Важно отметить, что наши туры в Израиль проводятся
            %span без посредников
            , что существенно сказывается на их стоимости. За три года работы на туристическом рынке компания
            %span Alfa Travel
            приобрела
            %span устойчивую репутацию надежного партнера.
      .israel-info-form-wrapper
        %form.israel-info-form{:action => "#", :method => "post"}
          %p.israel-info-form-label
            Хотите провести
            %br
            незабываемый отдых?
          %p
            Давайте поговорим о наиболе выгодных и интересных предложениях
            %br
            %span лично для Вас!
          %fieldset
            %input{:type =>"text", :placeholder => "Имя"}
            %input{:type =>"email", :placeholder => "E-mail"}
            %input{:type =>"tel", :placeholder => "Телефон"}
          %button{:type =>"submit"}Перезвоните мне!
  %section.text-section
    .content-center
      %p.text-section-p1 Позвольте нам
      %p.text-section-p2
        %span Показать израиль
        таким,
      %p.text-section-p3
        каким Вы его себе
        %span представляли!
  %section.comments
    .content-center
      %h2 О НАС ГОВОРЯТ
      %p ОТЗЫВЫ НАШИХ КЛИЕНТОВ
      %ul.comments-list
        %li
          %p.name Ирина и Валерий Корсунковы
          %span Воронеж
          %p.comment Хотим поблагодарить сотрудников Alfa Travel за прекрасный отдых в Израиле. За неделю мы увидели много прекрасных мест, воспоминания останутся на всю жизнь. Особо хотим отметить профессионализм гида Бориса, который показал нам Иерусалим, самый прекрасный город в Мире! Мы еще приедем!
        %li
          %p.name Валентина Скорик
          %span Львов
          %p.comment Мы привезли маму на лечение в Израиль. Но выдалось несколько свободных дней, и мы заранее договорились с компанией Alfa Travel, что нам предоставят экскурсии. Все было замечательно – работники фирмы приняли во внимание, что экскурсия предназначена для человека, проходящего сложное лечение. Мама отвлеклась, ее восхитили красоты Израиля, его прекрасные люди, которые нас сопровождали. Спасибо.
        %li
          %p.name Виктор Серебро
          %span Екатеринбург
          %p.comment Спасибо Alfa Travel за отличную организацию поездки в Израиль. Были учтены все пожелания, если была необходимо помощь, мы могли в любой момент позвонить ребятам, и они решали наши проблемы. Следующий приезд – только с Alfa Travel.
        %li
          %p.name Николай Трофимович Кротов
          %span Алма-Ата
          %p.comment Отдельное спасибо за хлопоты по получению визы. Мы пожилые люди, нам бы это было трудно физически, а работники Alfa Travel взяли на себя все заботы. Спасибо вам!
  %section.discount
    .content-center
      .discount-content
        %p.p1
          ВЫ ГОТОВЫ ПОДАРИТЬ СЕБЕ
        %p.p2
          %span НЕЗАБЫВАЕМЫЙ
          ОТДЫХ
        %p.p3
          Тогда смелее
          %span заполняйте форму
          справа и уже сегодня у Вас на руках будет вся информация о
          %span путешествии Вашей мечты!
      .discount-form-wrapper
        %form.discount-form{:action => "#", :method => "post"}
          %p.p4 ХОЧУ УЗНАТЬ О
          %p.p5 СКИДКАХ И АКЦИЯХ!
          %fieldset
            %input{:type =>"text", :placeholder => "Имя"}
            %input{:type =>"email", :placeholder => "E-mail"}
            %input{:type =>"tel", :placeholder => "Телефон"}
            %button{:type =>"submit"}Перезвоните мне!
  %footer.footer
    .content-center
      .logo
        %h1 alfatrevel
        %a{:href => "#"}
        %img{:src => "img/logo.gif", :height => "37", :width => "267", :alt => "Alfatrevel"}/
      %ul.footer-nav
        %li
          %a{:href => "#"} Туры в Израиль
        %li
          %a{:href => "#"} Билеты
        %li
          %a{:href => "#"} Гостиницы
      %aside
        %span.phone-number
          %span.phone-number1 +7 (495)
          %span.phone-number2 374-79-54
        .footer-button
          %a{:href => "#"} Заказать звонок!
        %span.but - или -
        %span.phone-slogan Мы ждем Ваши звонки!














